@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-blinker: "Blinker", sans-serif; 
  --font-weight: 200 400
}

@font-face {
  font-family: Blinker;
  font-style: bold;
  font-weight: 200 700;
  font-display: swap;
  src: url("https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap");
}